<!DOCTYPE html>
<html>
    <head>
	<title>
	    <% if content_for?(:title) %>
		<%= yield(:title) %>
	    <% else %>
		Ticketee
	    <% end  %>
	</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
    </head>
    <body>
	<% flash.each do |key, value|  %>
	    <div class="flash" id="<%= key %>">
		<%= value %>
	    </div>
	<% end %>
	
	<header class ="navbar navbar-fixed-top navbar-inverse">
	    <div class="container">
		<nav>
		    <% if current_user %>
			Signed in as <%= current_user.email %>
			<ul class="nav navbar-nav navbar-right"
			    <li><%= link_to "Sign out", signout_path, method: :delete %></li>
			    <% admins_only do %>
				<li><%= link_to "Admin", admin_root_path %></li>		
			    <% end %>
			</ul>
		    <% else %>
			<ul class="nav navbar-nav navbar-right">
			    <li><%= link_to "Sign up", new_user_path %></li>
			    <li><%= link_to "Sign in", signin_path %></li>
			</ul>
		    <% end %>
		</nav>
	    </div>
	</header>    
	<div class="container">
	    <%= yield %>
	</div>
    </body>
</html>
